@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #1E1E1E;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1E1E1E;
    --foreground: #ededed;
    --themecolor: #1E1E1E;
    --lightdark: #2D2D2D
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

.hero {
  will-change: transform, opacity;
}

.triangle {
  clip-path: polygon(0 0, 0 100%, 100% 100%);
}

.amoeba {
  clip-path: polygon(
    50% 0%, 60% 10%, 70% 15%, 80% 20%, 90% 25%,
    95% 30%, 100% 35%, 95% 40%, 90% 45%, 85% 50%,
    80% 55%, 75% 60%, 70% 65%, 65% 70%, 60% 75%,
    55% 80%, 50% 85%, 45% 80%, 40% 75%, 35% 70%,
    30% 65%, 25% 60%, 20% 55%, 15% 50%, 10% 45%,
    5% 40%, 0% 35%, 5% 30%, 10% 25%, 15% 20%,
    20% 15%, 25% 10%, 30% 5%, 35% 0%, 40% 5%,
    45% 10%, 50% 15%
  );
}
